/* Based on Wing v1.0.0-beta (http://usewing.ml) */
/* Copyright to Kabir Shah under MIT License */

/* BASE STYLES */
* {
box-sizing: border-box;
}
html,
body {
animation: fadein 2s;
margin: 0;
padding: 0;
background: #fff;
scroll-behavior: smooth;
transition: all 0.4s ease;
}

/* FADEIN (page transition) */
@keyframes fadein {
from {
opacity: 0;
}
to {
opacity: 1;
}}
.fadein {
animation-name: fadein;
}

/* NAVBAR & TITLE */
.bar {
position: fixed;
display: flex;
width: 100%;
height: 46px;
background-image: linear-gradient(to top, #eee, #fff);
box-shadow: 1px 1px #ccc;
justify-content: center;
align-items: center;
}
p { 
line-height: 24px;
color: #222;
font-family: "Day Roman", "Times";
font-size: 24px;
font-weight: bold;
vertical-align: baseline;
}
a {
color: #222;
line-height: 20px;
font-family: "Ubuntu Condensed", "Helvetica";
font-size: 20px;
font-weight: bold;

text-decoration: none;
}
a:hover {
display: inline-block;
color: #000;
text-decoration: none;
}
/* NAVMENU */
.nav {
position: fixed;
background: none;
float: left;
}
#menu-icon {
animation: fadein 3s;
position: fixed;
top: 2px;
left: 12px;
display:inline-block;
background: url("img/nav/menu.png") center;
display: hidden;
width: 32px;
height: 46px;
}
#menu-icon:hover {
opacity: 0.7;
}
.nav ul, nav:active ul { 
animation: fadein 1s;
display: none;
position: fixed;
background-image: linear-gradient(to top, #fff, #eee);
border: 2px solid #ddd;
border-radius: 0px 0px 20px 0px;
left: 0px;
top: 30px;
width: 150px;
padding: 0px 0px 5px 0px;
white-space: nowrap;
}
.nav:hover ul {
display: block;
overflow: hidden;
}
.nav ul li {
width: 100%;
margin: 0px 0px 0px 0px;
padding: 10px;
line-height: 18px;
display: inline-block;
float: left;
}
.nav ul li:hover {
background: #aaa;
}
/* NAVLINKS */
.navlinks {
position: fixed;
display: absolute;
background: none;
right: 12px;
text-align: right;
margin: 6px 0px 0px 0px;
}
.navlinks a {
padding: 0px 0px 0px 0px;
}
.navlinks a:hover {
opacity: 0.7;
}
.navlinks-mobile {
display: none;
}
@media screen and (max-width: 768px) {
.navlinks {
display: none;
}
.navlinks-mobile {
position: absolute;
display: block;
background: none;
top: 12px;
right: 10px;
text-align: center;
margin: 10px 0px 0px 0px;
}}

/* HEADER */
.section {
display: flex;
width: 100%;
height: 100%;
margin: 0px 0px 0px 0px;
padding: 46px 0px 0px 0px;
align-content: flex-start;
justify-content: center;
align-items: flex-start;
justify-items: center;
}
.row {
width: 800px;
height: 100%;
background: transparent;
margin: 0px 0px 0px 0px;
padding: 0px 10px 0px 10px;
justify-items: center;
align-items: flex-start;
text-align: center;
}
/* HEADER IMAGE */
.header {
width: 800px;
max-width: 100%;
max-height: 100%;
object-fit: contain;
}
.header:hover {
animation: fadein 1s;
}
.header-mobile {
height: 300px;
max-width: 100%;
max-height: 387px;
display: none;
}
@media screen and (max-width: 768px) {
.header {
display:none;
}
.header-mobile {
display: block;
width: 768px;
max-width: 100%;
max-height: 387px;
object-fit: contain;
}}
/* HEADER TITLES */
h1 {
margin: 0px 5px 0px 5px;
padding: 0px 0px 0px 0px;
line-height: 52px;
font-family: "Day Roman", "Times";
font-size: 52px;
}
h2 {
margin: 0px 5px 0px 5px;
padding: 0px 0px 0px 0px;
line-height: 29px;
color: #333;
font-family: "Day Roman", "Times";
font-size: 28px;
}
h3 {
margin: 10px 5px 0px 5px;
padding: 0px 0px 0px 0px;
line-height: 20px;
color: #000;
font-family: "Day Roman", "Times";
font-size: 16px;
font-weight: normal;
font-style: italic;
}
@media screen and (max-width: 768px) {
h1 {
line-height: 6.81vw;
font-size: 6.81vw;
}
h2 {
line-height: 27px;
font-size: 27px;
}}
/* BUTTONS */
.button {
line-height: 80px;
font-size: 20px;
margin: 20px 20px;
padding: 10px 20px;
background-image: linear-gradient(to top, #eee, #fff);
border: 1px solid #ddd;
border-radius: 20px;
box-shadow: 2px 2px #ccc;
}
.button:hover {
background-image: linear-gradient(to top, #eee, #ddd);
color: #444;
border: 1px solid #bbb;
box-shadow: none;
}
.button:active {
border: 1px solid #fff;
color: #aaa;
}

/* CREDITS */
/* NAV MENU: http://bit.ly/absolute-menu */
/* CSS DEVELOPMENT 
https://getbootstrap.com
https://glitch.com
https://css-tricks.com
https://codepen.io */
